.body {
    width: 700px;
}

.main {
    background-color: #ffffff;
}

#divlogo {
    width: 100px;
}

.unique {
    display: block;
    margin-bottom: 2px;
    font-family: "Martian Mono", monospace;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.blackmeets {
    color: black;
    font-family: "Martian Mono", monospace;
    font-size: 18px;
}

.unique:hover {
    color: #d62828;
}

.div1 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: #fca311;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.topic {
    color: #003049;
}

.div-menu {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.div-menu p:hover {
    color: #d62828;
    font-weight: bold;
    text-shadow: 0px 0px 4px white;
}

.div-menu a {
    text-decoration: none; /* Removes the underline from links */
    color: inherit; /* Inherit the color from the parent p element */
    font-family: inherit; /* Inherit the font-family */
}

/* Contact section */
.div2-a {
    background-color: #fca311;
    text-align: center;
    color: #ffffff;
}

.div2-b {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: flex-start; /* Aligns the items at the top */
    gap: 20px;
}


.divtext p {
    width: 100px; 
}

.divinput {
    display: flex;
    flex-direction: column; /* Stack the input fields vertically */
    justify-content: flex-start; /* Ensure input fields align with the labels */
    padding: 10px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 250px; /* Adjust the width as per your design */
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    margin: 0%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Space between input and button */
    width: auto; /* Button width based on text */
    align-self: flex-start;
}

button:hover {
    background-color: #d62828;
    color: white;
}

/* Footer */
.footer {
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #fca311;
}

.father-footer {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}
